.wrapp {
	display: flex;
	flex-direction: column;
}

.form {
	display: flex;
	align-items: flex-end;
	gap: 30px;
	justify-content: center;
	transition: transform 0.2s ease;
}
.scrolled {
	transform: translateY(190px);
}

.formbody {
	display: flex;
	align-items: center;
	gap: 30px;
	div {
		position: relative;
	}
}
.label {
	display: block;
	margin-bottom: 10px;
}
.input {
	display: block;
	color: #fff;
	padding: 0 15px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	background-color: #1d1d1d;
	border: 1px solid #fff;
	&:focus {
		background-color: #494848;
	}
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	font-size: 14px;
	color: #ff0000;
}
.btn {
	color: #171717;
	border: none;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	background-color: #fff;
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: var(--color-hover);
		color: #fff;
	}
}
.down {
	margin-top: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease;
}
.visually {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-90px);
}
.vector {
	height: 80px;
	width: 50px;
	span {
		display: block;
		font-size: 40px;
		animation: jump 5s infinite;
		transition: 150ms all;
	}
	&:hover span {
		color: var(--color-hover);
	}
}
@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	54% {
		transform: translateY(9px);
	}
	58% {
		transform: translateY(-7px);
	}
	62% {
		transform: translateY(5px);
	}
	66% {
		transform: translateY(-3px);
	}
	70% {
		transform: translateY(2px);
	}
	74% {
		transform: translateY(-1px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
