.aut {
	display: flex;
	height: 100%;
}
.link {
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #677070;
	background-color: #36383b;
	transition: 150ms background-color;
	&:hover {
		background-color: #3b5252;
	}
}
.active {
	background-color: #3b5252;
}
