.home {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.title {
	text-transform: uppercase;
	text-align: center;
	font-size: 76px;
	width: 780px;
	letter-spacing: 4px;
	line-height: 1.2;
}
.text {
	font-size: 32px;
	letter-spacing: 6px;
}
.go {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.vector {
	display: flex;
	justify-content: center;
	align-items: center;
	span {
		font-size: 30px;
		animation: jump 5s infinite;
	}
}
.link {
	font-size: 30px;
	width: 150px;
	background-color: #222222;
	transition: 150ms all;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	&:hover {
		color: #222222;
		background-color: var(--color-hover);
	}
}
@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	54% {
		transform: translateY(9px);
	}
	58% {
		transform: translateY(-7px);
	}
	62% {
		transform: translateY(5px);
	}
	66% {
		transform: translateY(-3px);
	}
	70% {
		transform: translateY(2px);
	}
	74% {
		transform: translateY(-1px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
